#!/usr/bin/make -f

# Ideally the distribution should be infered by the build system
# but apparently using $(shell lsb_release -sr) does not work
# properly with pbuilder, force it to jessie for now
DISTRIBUTION = jessie
VERSION = 5.5.2
BUILD_VERSION = 5
ELASTIC_VERSION = 5.5.2
PACKAGEVERSION = $(VERSION)-$(BUILD_VERSION)~$(DISTRIBUTION)
PLUGIN_LIST=debian/plugin_urls.lst
BLOBS_DIR=debian/blobs
SHA256FILE=debian/sha256sums

%:
	dh $@

override_dh_auto_clean:
	rm -rf debian/wmf-elasticsearch-search-plugins
override_dh_auto_test: check_sha256
override_dh_auto_build:
override_dh_auto_install:
	cp -a $(BLOBS_DIR) debian/wmf-elasticsearch-search-plugins

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION) -Vdist:Depends="elasticsearch (=$(ELASTIC_VERSION))"

download_blobs: clean_blobs
	debian/checkout.bash $(BLOBS_DIR) $(PLUGIN_LIST) $(ELASTIC_VERSION)

# use this target before commiting to gerrit
prepare_commit: download_blobs
	find $(BLOBS_DIR) -type f -exec sha256sum {} \; > $(SHA256FILE)

clean_blobs:
	rm -rf $(BLOBS_DIR)
	mkdir $(BLOBS_DIR)

# use this target before uploading to copper
prepare_build: download_blobs check_sha256
	# add some lines to upload to copper?
	@echo OK

verify_commit: download_blobs check_sha256
	@echo OK

check_sha256:
	sha256sum -c $(SHA256FILE)
